PORT=8000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/worksphere?appName=cluster1
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=1h
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
